body{
    background-color: #F5F5F5;
}

.textform {
    font-weight: bold;
    text-transform: uppercase;
}

.container {
    max-width: 900px; 
}

h2.textform {
    color: #343a40; 
    margin-bottom: 20px; 
}

.cssemail{
    margin-top: 12px;
}

.borderform {
    border: 2px solid #7eb0e6; 
    border-radius: 10px;
    padding: 30px; 
    background-color: #ffffff; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}

.form-label {
    font-weight: bold; 
}

.btn-primary {
    width: 100%; 
    padding: 10px; 
    font-size: 16px;
}

input:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

#formcheck{
    margin-bottom: 16px;
}